{{!-- <footer class="footer">
    <p align="center"> Le Quoc Bao - 19110327</p>
</footer> --}}

<footer class="Footer">
  <div class="footer-copywright">© 2022 Le Thi Ngoc Diem_19110335</div>
  <ul class="footer-links">
    <li class="footer-link"><a href="#">Privacy Policy</a></li>
    <li class="footer-link"><a href="#">Contact Us</a></li>
  </ul>
</footer>